* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background-color: #252422;
  text-align: center;
  padding: 30px;
}

h1 {
  margin-bottom: 30px;
  color: #d9d9d9;
}

#telephone-container {
  background-color: #5e6472;
  margin: 0 auto 10px auto;
  width: 300px;
  height: 500px;
  border-radius: 100px 100px 70px 70px;
  display: grid;
  grid-template-columns: 70px 10px 170px 10px 30px;
}

#border-panel {
  position: relative;
  background: linear-gradient(90deg, #f4f4f4, #5e6472);
  border-radius: 40%;
}

.left {
  top: 4px;
  height: 493px;
}

.right {
  top: 18px;
  height: 475px;
}


#telephone-handset-bottom {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  position: relative;
  width: 70px;
  height: 300px;
  top: 100px;
  background-color: #465362;
  border-radius: 50px;
  z-index: 1;

}

#telephone-handset-top {
  clip-path: polygon(0% 0%, 100% 0%, 85% 100%, 15% 100%);
  position: relative;
  width: 50px;
  top: 10px;
  left: 8px;
  height: 250px;
  background-color: red;
  border-radius: 50px;
  z-index: 3;
}

#telephone-handset-cable {
  position: relative;
  top: 50px;
  width: 80px;
  height: 220px;
  background: transparent;
  border-left: 5px solid white;
  border-bottom: 5px solid white;
  border-radius: 60%;
  z-index: 1;
}


#central-panel {
  padding-top: 50px;
  width: fit-content;
  margin: 0 auto;
}

fieldset {
  display: flex;
  flex-direction: column;
}

#display-section {
  margin: 0 auto 10px auto;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: black;
  border-radius: 6px;
  color: #d9d9d9;
}

input,
input:hover {
  background-color: #1a7431;
  border: 1px solid #10451d;
  color: #0d0a0b;
  width: 80%;
  height: 40px;
  font-size: 1.2rem;
  font-weight: 550;
}

.button {
  cursor: pointer;
}

.button:hover {
  background-color: #82a3a1;
}

#numeric-keyboard {
  margin: 20px auto;
  padding: 10%;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 30% 30% 30%;
  justify-content: center;
}

.keyboard {
  border-radius: 50%;
  width: 40px;
  height: 20px;
}


#results-div {
  margin: 50px auto;
  padding-top: 10px;
  width: 90%;
  max-width: 150px;
  height: 80px;
  background-color: #465362;
  color: #ffffff;
  font-size: 1.4em;
  overflow-wrap: break-word;
  overflow-y: auto;
}

@media screen and (max-width: 400px) {
  body{
    background-color:blue;
  }
  h1 {
    font-size:1em;
  }
  #results-div{
    font-size:1em;
  }
  }
